/* LINKS - v0.0.1 "Smarter defaults for links"

*/
a { -webkit-transition: .4s all; transition: .4s all; color: #30BBDB; }
a:link { color: #30BBDB; }
a:visited { color: #2D243B; }
a:hover { color: #004EAB; }
a:active { color: #C4E3E0; }
