/* links.css - v0.0.1 - "Smarter defaults for links" License MIT
*/

/* added compatibility for Firefox (Gecko) and Opera browsers 8/30/15 */
a {
  color: #265C83;
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
}

a:link,
a:visited {
  color: #265C83;
}

a:hover {
  color: #7FDBFF;
}

a:active {
  color: #007BE6;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
}

.link {
  text-decoration: none;
}
