/*
   links.css - v0.0.1 - "Smarter defaults for links"
   License MIT
*/

a {
  transition: color .4s;
  color: #265C83;
}

a:link    { color: #265C83; }
a:visited { color: #980AAE; }
a:hover   { color: #007BE6; }
a:active  { color: #7FDBFF; }

.link { text-decoration: none; }

